@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #F76711;
    --color-bg-light: #F4F4F4;
    --font-sans: 'Jost', system-ui, sans-serif;
}

body {
    font-family: var(--font-sans);
    background-color: var(--color-bg-light);
    color: #333;
}

@theme {
    --color-primary: #F76711;
    --color-secondary: #000000;
    --color-accent: #FFFFFF;
}